<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="over" >
    <button color="primary" mat-button routerLink="/">Home</button>
    <button color="primary" mat-button routerLink="/users">Users</button>
    <button color="primary" mat-button routerLink="/messages">Messages</button>
  </mat-drawer>
  <div class="sidenav-content">
      <mat-toolbar color="primary">
          <mat-toolbar-row>
                <button *ngIf="isLoggedIn" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Title</span>
                <span class="spacer"></span>
                <button *ngIf="!isLoggedIn" mat-button routerLink="/login">Login</button>
                <button *ngIf="isLoggedIn" mat-button [matMenuTriggerFor]="usermenu">
                    <mat-icon>account_circle</mat-icon>&nbsp;<span>{{username}}</span>
                </button>
                <mat-menu #usermenu="matMenu">
                    <button mat-menu-item routerLink="/profile">
                        <mat-icon>person</mat-icon>
                        <span>Profile</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>power_settings_new</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>
          </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
</mat-drawer-container>